/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body, html {
  font-family: 'Montserrat', sans-serif;
}

h1 {
color: #333;
font-size: 64px;
font-weight: 800;
margin-top: 0;
text-transform: uppercase;
margin-bottom: 10px;
}

h2 {
font-weight: 700;
font-size: 42px;
color: #333;
  text-transform: uppercase;
}

h5 {
text-transform: uppercase;
font-weight: 500;
line-height: 20px;
color: blue;
}

p {
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: rgb(83, 81, 81);
font-size:22px;
}

.btn-custom {
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
  color: rgb(65, 64, 64);
background-color: transparent;
border: 2px solid #444;
padding: 14px 20px;
margin: 20px 30px 30px 0px;
font-size: 14px;
border-radius: 5%;
transition: all 0.5s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
color: #eee;
background-color: #444;
}

.section-title{
margin: 20px 0px;
}

.navigate-top{
position: relative;
left: 70px;	
font-weight: 400;
font-size: 16px;
font-family: 'Roboto', sans-serif;
}