.intro {	
	background: #e5e5e5;	
}

.intro p {
	color: #444;
	margin: 10px 0 20px 0;
	font-size: 22px;
}

.intro-text {
	padding-top: 250px;
	padding-bottom: 200px;
}

.home-page-photo{
	position: relative;
	top: 100px;
}

img{
    max-width: 400px;
}

.btn-custom {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: rgb(65, 64, 64);
	background-color: transparent;
	border: 2px solid #444;
	padding: 14px 20px;
	margin: 20px 30px 30px 0px;
	font-size: 14px;
	border-radius: 5%;
	transition: all 0.5s;
  }
  
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active {
	color: #eee;
	background-color: #444;
  }